-e ../navi
jupyterlab
aiofiles
jupyter
matplotlib
matplotlib-label-lines
pandas
fastapi
uvicorn[standard]
langchain
langgraph
langchain-openai
langchain_community
langchain_chroma
chromadb
statsmodels
SQLAlchemy
ipython
ipykernel
alembic
backtrader
beautifulsoup4
coloredlogs
cycler
debugpy
gitdb
GitPython
markdown-it-py
python-language-server[all]
shortuuid
tabulate